.cart-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #313131;
    color: #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-item,
.price-item,
.total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1em;
}

.cart-price {
    color: #ccc;
}

.price-breakdown {
    margin-top: 20px;
}

.special-discount {
    color: red;
}

.total {
    font-weight: bold;
    font-size: 1.2em;
}

#grandTotal {
    color: rgb(35, 199, 35);
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(35, 199, 35);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

.checkout-btn:hover {
    background-color: #2b8006;
}

.note {
    font-size: 0.8em;
    color: #919191;
    margin-top: 20px;
}
