* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arimo, Arial, Helvetica, lucida grande, sans-serif;
    letter-spacing: -0.03em;
    font-size: 16px;
    margin: 0 auto;
    background-color: #1d1d1d;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    line-height: 1.42857143;
    color: #333;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
button,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

.col-xs-20 {
    width: 100%;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-17,
.col-xs-18,
.col-xs-19,
.col-xs-20 {
    float: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16,
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18,
.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

a {
    text-decoration: none !important;
    color: #428bca;
    background-color: transparent;
}

fieldset, img {
    border: 0;
}

img {
    vertical-align: middle;
}

