.nav-bar {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 8;
    background: #1d1d1d;
    overflow: hidden;
    color: #919191;
    border-bottom: 1px solid #2f2f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.nav-bar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.main-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    font-size: 0.85em;
    font-weight: 700;
    color: #919191;
}

#quick-search-container {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

#quick-search-input {
    width: 250px;
    height: 35px;
    font-size: 0.85em;
    font-weight: 700;
    color: #919191;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 4px 15px;
    background-color: #1d1d1d;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.login-nav-btn,
.register-nav-btn {
    font-weight: 700;
    color: #6ac045;
}
