.nav-bar {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 8;
    background: #1d1d1d;
    overflow: hidden;
    color: #919191;
    border-bottom: 1px solid #2f2f2f;
    backface-visibility: hidden;
}

.pull-left {
    float: left !important;
}

.nav-mobile-buttons {
    float: right;
}

.nav-mobile-buttons a {
    margin-left: 7px;
    font-size: 23px;
    color: #e3e3e3;
}

.touchable {
    -webkit-tap-highlight-color: transparent;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: glyphicons halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-search:before {
    content: "\e003";
}

